<!DOCTYPE html>
<html>
 <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="FPP.css">
 </head>
 <body>
    <div class="container">
        <div class="row">
            <h1> You have signed out from this account.</h1>
        </div>
        <div class="row">
            <div class="col">
                <br>
                <br>
                <br>
                <h2> For sign in click <a href="FPP-SI.html"> here</a></h2>
            </div>
            <div class="col">
                <br>
                <br>
                <br>
                <h2> To create a new account, click <a href="Sign up.html"> here</a></h2>
            </div>
            <div class="col">
                <br>
                <br>
                <br>
                <h2> To return to the home page, click <a href="#">here</a></h2>
            </div>
        </div>
    </div>
 </body>
</html>